@{
    ViewData["Title"] = "Home Page";
}

<style>
.Navigation_Sub {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid_6 {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
}
</style


<div class="grid_sub_18 Page_BG">
	<div class="Navigation_Sub">
		<div class="grid_6">
			<class ="NS_Heading">
				Transport Management</>
				<ul class="NS_Pages">
					<li><a href="#" onclick="return top.loadModulePageUrl('../Eligibility/ModuleConfiguration.aspx');">Module Configuration</a></li>
					<ul class="NS_Pages">
						<li><a href="#" onclick="return top.loadModulePageUrl('../Eligibility/ModuleConfiguration.aspx');">Route Information</a></li>
						<li><a href="#" onclick="return top.loadModulePageUrl('../Eligibility/ModuleConfiguration.aspx');">Vehicle Information</a></li>

					</ul>
				</ul>
				<ul class="NS_Pages">
					<li><a href="#" onclick="return top.loadModulePageUrl('../Eligibility/ModuleConfiguration.aspx');">Application</a></li>
					<ul class="NS_Pages">
						<li><a href="#" onclick="return top.loadModulePageUrl('../Eligibility/ModuleConfiguration.aspx');">Transport Application</a></li>
						<li><a href="#" onclick="return top.loadModulePageUrl('../Eligibility/ModuleConfiguration.aspx');">Transport Current Location</a></li>
						<li><a href="#" onclick="return top.loadModulePageUrl('../Eligibility/ModuleConfiguration.aspx');">My opinions</a></li>

					</ul>
				</ul>
		</div>

		<div class="grid_6">
			<class ="NS_Heading">
				Taxi Reservation</>
				<ul class="NS_Pages">
					<li><a href="#" onclick="return top.loadModulePageUrl('../Eligibility/ModuleConfiguration.aspx');">Supervisory Operations</a></li>
					<ul class="NS_Pages">
						<li><a href="#" onclick="return top.loadModulePageUrl('../Eligibility/ModuleConfiguration.aspx');">My Team Reservations</a></li>

					</ul>
				</ul>
				<ul class="NS_Pages">
					<li><a href="#" onclick="return top.loadModulePageUrl('../Eligibility/ModuleConfiguration.aspx');">Application</a></li>
					<ul class="NS_Pages">
						<li><a href="#" onclick="return top.loadModulePageUrl('../Eligibility/ModuleConfiguration.aspx');">Taxi Reservation</a></li>
						<li><a href="#" onclick="return top.loadModulePageUrl('../Eligibility/ModuleConfiguration.aspx');">View My Taxi Reservations</a></li>
						<li><a href="#" onclick="return top.loadModulePageUrl('../Eligibility/ModuleConfiguration.aspx');">Company Taxi Management</a></li>

					</ul>
				</ul>
		</div>

		<div class="grid_6">
			<class ="NS_Heading">
				Payments for Staff Transport</>
				<ul class="NS_Pages">
					<li><a href="#" onclick="return top.loadModulePageUrl('../Eligibility/ModuleConfiguration.aspx');">Payments for Staff Transport</a></li>

				</ul>

		</div>

		<div class="grid_6">
			<class ="NS_Heading">
				Transport Card</>
				<ul class="NS_Pages">
					<li><a href="#" onclick="return top.loadModulePageUrl('../Eligibility/ModuleConfiguration.aspx');">Transport Card</a></li>

				</ul>

		</div>

		<div class="grid_6">
			<class ="NS_Heading">
				Parking Slots Management</>
				<ul class="NS_Pages">
					<li><a href="#" onclick="return top.loadModulePageUrl('../Eligibility/ModuleConfiguration.aspx');">Definitions</a></li>
					<ul class="NS_Pages">
						<li><a href="#" onclick="return top.loadModulePageUrl('../Eligibility/ModuleConfiguration.aspx');">Parking Slots Information</a></li>

					</ul>
				</ul>
				<ul class="NS_Pages">
					<li><a href="#" onclick="return top.loadModulePageUrl('../Eligibility/ModuleConfiguration.aspx');">Application</a></li>
					<ul class="NS_Pages">
						<li><a href="#" onclick="return top.loadModulePageUrl('../Eligibility/ModuleConfiguration.aspx');">View available parking</a></li>

					</ul>
				</ul>
		</div>
	</div>
</div>
